#root {
  /* overflow: hidden; */
  padding: 0px;
  margin: 0px;
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0.5,
    "MONO" 0;

}

.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 295px !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 0 5px rgb(238, 236, 236);
  color: rgb(96, 116, 137);
  grid-area: sidebar;
  z-index: 5;
  transition: all .3s ease !important;
}

.callerNumbHeading {
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  margin-left: 10px;
  font-weight: 600;
  color: rgb(44, 141, 221);
  font-family: "Recursive", sans-serif;
}

#collapsed {
  width: 80px !important;
  min-width: 80px;
}

.activePage .ps-menu-label {
  color: rgb(36 36 37);
}

.activePageItem {
  font-weight: 800;
}

.Mui-error {
  color: rgb(211, 47, 47);
  background: rgb(242 246 250) !important;
  margin: 0px !important;
}

.btnToback {

  color: rgb(53, 50, 50) !important;
  position: absolute !important;
  margin-top: 22px !important;
  left: 308px;
  z-index: 99999;
  padding: 6px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  background: #f02727 !important;

  .Hicon {
    width: 22px !important;
    fill: rgb(37, 36, 36);
  }
}

.btnToback:hover {
  color: white !important;

  .Hicon {
    width: 22px !important;
    fill: rgb(255, 255, 255);
  }
}


/* From Uiverse.io by vinodjangid07 */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70px;
  height: 38px;
  border: none;
  font-size: 13.5px;
  padding: 0px 13px;
  background-color: rgb(15, 15, 16);
  color: white;
  font-weight: 500;
  cursor: pointer;
  z-index: 2;
  border-radius: 6px;
  transition-duration: .3s;
  position: fixed ;
  left: 296px;
  transform: rotate(90deg);
  margin-top: 45px;
}

.Btn .svg {

  position: absolute;
  right: 0;
  margin-right: 4px;
  width: 20px;
  fill: white;
  transform: rotate(270deg);
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 34%;
  margin: 0;
  padding: 0;
  border: none;
  width: 26px;

  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

.css-1wc848c-MuiFormHelperText-root.Mui-error {

  background: #ffffff !important;
  margin: 0px;
  padding: 0px;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px !important;
  padding-left: 140px;
  grid-area: hero;
  background-color: rgb(242, 246, 250);
  /* min-height: 100vh; */
  height: auto;
  position: relative;
  margin-bottom: 50px;
  transition: all .3s ease;

}

.alertBox {
  display: flex;
  height: 200px;
  min-width: 163px;
  width: auto;
  color: black;
  box-sizing: border-box;
  flex-direction: column;
  margin: auto;
  background: white;
  padding: 30px;
  z-index: 9999;
  border-radius: 12px;
  text-align: center;
}

.alertBox span {
  font-family: math;
  color: green;
  font-weight: 600;
  font-size: 20px !important;
}



.header {
  grid-area: header;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px rgb(238, 236, 236);
  height: 80px;
  border-bottom: 1px solid rgb(239, 237, 237);
  width: 100%;
  z-index: 4;
  transition: .4s ease;
}

.heading {
  display: flex;
  align-self: flex-start;
  margin-top: 20px;
  padding: 2px;
  margin-left: 60px;
  border-bottom: 1px solid rgb(173, 175, 169);
  margin-bottom: 1rem;
  font-weight: bold;
  color: rgb(118, 115, 115);
  font-size: 1.2rem;

}

.header {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}


.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.headOptions {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  width: 100%;
}

.hamburger {
  padding-left: 310px;
  transition: .4s ease !important;
}

.tgnHam {
  padding-left: 100px;
  transition: .4s ease !important;
}

#frmctrl {
  width: 116px;
  border: none;
  outline: none !important;
}

#frmctrl #languageSelect {
  padding: 13px;
  outline: none;

}



.Hicon {
  color: rgb(36 36 37) !important;
  margin: 0px 4px;
  height: 28px !important;
  cursor: pointer;
  width: 28px !important;
  transition: .4s ease;
}

.headElm {
  display: flex;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 18px;
  color: rgb(109, 105, 105);
  align-items: center;
  margin: 0px 0px;
}


.backX {
  fill: rgb(41, 39, 41) !important;
  height: 26px !important;

  width: 26px !important;
  transition: .3s ease;
  cursor: pointer;
}

.backX:hover {
  transform: scale(110%);
}

input[type="date"] .MuiSvgIcon-root {
  color: red !important;
  background-color: gray;
}

input:disabled,
button:disabled,
select:disabled,
textarea:disabled,
Autocomplete:disabled {
  cursor: not-allowed !important;
  /* background-color: #f3eae6; */


}


.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
  color: rgb(77, 79, 80) !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-family: system-ui !important;
}



.p {
  font-size: .8rem !important;
  font-family: "Recursive", sans-serif !important;
  font-weight: 500 !important;


}

.p2 {
  font-size: 1rem !important;
  font-family: "Recursive", sans-serif !important;
  color: rgb(36 36 37) !important;
}

.alertBox .p {
  font-size: .9rem !important;
}

/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  transform: translate(14px, -20px) scale(0.88) !important;
  font-family: "Recursive", sans-serif !important;
} */

@media screen and (max-width:1590px) {


  .Btn {
    width: 76px;
    height: 33px;
    padding: 0px 18px;
    left: 234px;
    font-size: 13.3px;
    margin-top: 45px;
  }

  .sidebar {
    width: 255px !important;
    transition: width 0.3s ease;
  }



  #collapsed {
    width: 80px !important;
    min-width: 80px;
  }

  .hero {
    padding-top: 30px;
    width: 100%;
    padding-left: 128px;

  }

  #heroSection {
    padding-left: 180px;
    justify-content: flex-start;
    transition: all .5s ease;
  }



  #tableContY {
    width: 90% !important;
  }

  .header {
    height: 100%;
    width: 100%;
    z-index: 4;
  }




  .hamburger {
    padding-left: 270px;

  }


  .tgnHam {

    transition: .4s ease;
  }





}



@media screen and (max-width:1130px) {

  .Btn {
    width: 80px;
    height: 30px;
    font-size: 12px;
    padding: 0px 18px;
    left: 204px;
    margin-top: 45px;
  }

  .sidebar {
    width: 230px !important;
    min-width: 200px !important;
    transition: width 0.3s ease;
  }

  .header {
    height: 100%;
    width: 100%;
    z-index: 4;
  }


  #collapsed {
    width: 80px !important;
    min-width: 80px !important;
  }

  .hero {
    padding-top: 10px;
    width: 100%;
    padding-left: 115px;

  }

  #heroSection {

    justify-content: flex-start;
    transition: all .5s ease;
    padding-left: 165px;
  }





  .header {
    height: 100%;
    width: 100%;
    z-index: 4;
  }

  .hamburger {
    padding-left: 235px;

  }

  .tgnHam {
    padding-left: 90px;

  }

  #frmctrl {
    width: 90px;

  }

  #frmctrl #languageSelect {
    padding: 11px;
    outline: none;

  }



  .Hicon {
    color: rgb(36 36 37) !important;
    margin: 0px 4px;
    height: 23px !important;
    cursor: pointer;
    width: 28px !important;
    transition: .4s ease;
  }

  .headElm {
    display: flex;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 18px;
    color: rgb(109, 105, 105);
    align-items: center;
    margin: 0px 8px;
  }
}



@media screen and (max-width:940px) {

  .sidebar {
    width: 20% !important;
    position: absolute !important;
    min-width: 20% !important;
    transition: width 0.3s ease;
    width: 80px !important;
    min-width: 80px !important;
  }

  #logoName {
    display: none;
  }

  .sidebar:hover {
    width: 258px !important;
    min-width: 258px !important;
    transition: width 0.3s ease;

    #logoName {
      display: flex;
    }
  }

  .Btn {
    width: 70px;
    font-size: 12px;
    height: 30px;
    padding: 0px 13px;
    left: 90px;
    margin-top: 50px;
  }

  .Btn .svg {
    width: 18px;
  }



  .css-11l5t4l-MuiGrid-root {
    max-width: 100% !important;
  }

  .css-480o17-MuiGrid-root {
    flex-direction: column !important;
  }

  .hero {
    padding-top: 20px;
    width: 75%;
    justify-content: flex-end;
    padding-left: 70px;

  }

  #heroSection {
    width: 90%;
    padding-left: 116px;
    justify-content: center;
    transition: all .5s ease;
  }


  #tableContY {
    margin-right: 10px;
  }

  .header {
    height: auto;
    width: 100%;
    z-index: 4;
  }

  .hamburger {
    padding-left: 220px;
    display: none !important;

  }


  .Mui-error {
    color: rgb(211, 47, 47);
    background: rgb(242 246 250) !important;
    margin: 0px !important;
  }

  .tgnHam {
    padding-left: 100px;
    display: none !important;

  }

  #frmctrl {
    width: 110px;

  }

  #frmctrl #languageSelect {
    padding: 11px;
    outline: none;

  }


  .headOptions {
    width: 80%;
    margin-left: 120px;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }


  .Hicon {
    color: rgb(36 36 37) !important;
    margin: 0px 3px;
    height: 23px !important;
    cursor: pointer;
    width: 26px !important;
    transition: .4s ease;
  }

  .headElm {
    display: flex;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 12px;
    text-wrap: nowrap;
    color: rgb(109, 105, 105);
    align-items: center;
    margin: 5px;
  }

  .Bigcontainer {
    background-color: #f2f5f9 !important;
    box-shadow: none !important;
  }

  .input,
  .select {
    background-color: rgb(255, 255, 255) !important;
  }

  .css-480o17-MuiGrid-root {
    flex-direction: column !important;
  }

}

@media screen and (max-width:750px) {

  .Chead.css-5lbw0b-MuiTypography-root {
    display: block;
  }

  .Btn {
    margin-top: 5px;
    width: 63px;
    height: 25px;
    left: 60px;
  }

  .backbtnX {
    margin-top: -1px !important;
  }

  .sidebar {
    width: 20% !important;
    position: absolute !important;
    min-width: 20% !important;
    transition: width 0.3s ease;
    width: 80px !important;
    min-width: 80px !important;
  }

  #logoName {
    display: none;
  }

  .sidebar:hover {
    width: 40% !important;
    min-width: 40% !important;
    transition: width 0.3s ease;

    #logoName {
      display: flex;
    }
  }



  .css-11l5t4l-MuiGrid-root {
    max-width: 100% !important;

  }

  .callerNumbHeading {
    margin-left: 6px;

  }


  /* 
  .edTvlQ {
    background-color: #f2f5f9 !important;
    box-shadow: none !important;

  } */

  .Bigcontainer {
    background-color: #f2f5f9 !important;
    box-shadow: none !important;
  }

  .input,
  .select {
    background-color: rgb(255, 255, 255) !important;
  }

  .css-480o17-MuiGrid-root {
    flex-direction: column !important;
  }


  .hero {
    width: 85%;
    padding-left: 70px;
    justify-content: center;
    transition: all .5s ease;

  }

  .css-27d971-MuiPaper-root-MuiTableContainer-root {
    background-color: #f2f5f9 !important;

  }

  #heroSection {
    width: 85%;
    padding-left: 120px;
    justify-content: center;
    transition: all .5s ease;
  }

  .header {
    height: auto;
    align-items: flex-start;
    width: 100%;
    padding: 12px;
    z-index: 4;
  }



  #frmctrl {
    width: 40vw;

  }

  .headOptions {
    width: 80%;
    margin-left: 84px;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  #frmctrl #languageSelect {
    padding: 13px;
    outline: none;

  }



  .Hicon {
    color: rgb(39, 148, 238) !important;
    margin: 0px 3px;
    height: 24px !important;
    cursor: pointer;
    width: 24px !important;
    transition: .4s ease;
  }


  .hamburger {
    padding-left: 50%;
    display: none !important;
    margin-top: 12px !important;

  }

  .css-1wc848c-MuiFormHelperText-root.Mui-error {

    background: #f2f5f9 !important;
    margin: 0px;
    padding: 0px;
  }

  .tgnHam {
    display: none !important;
    padding-left: 80px;
    margin-top: 12px !important;
  }

  .headElm {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 12px;
    text-wrap: nowrap;
    color: rgb(109, 105, 105);
    align-items: center;
    margin: 5px;
  }
}

@media screen and (max-width:550px) {
  .sidebar:hover {
    width: 50% !important;
    min-width: 50% !important;
    transition: width 0.3s ease;

    #logoName {
      display: flex;
    }
  }


  .headOptions {
    width: 70%;
    margin-left: 0px;
    padding-left: 20%;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }


}